<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buckley.robert.parkinsonszero" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="myParkinson&apos;s"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.buckley.robert.parkinsonszero.MainActivity"
            android:configChanges="orientation"
            android:label="myParkinson&apos;s"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.buckley.robert.parkinsonszero.Graph"
            android:label="myParkinson&apos;s"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.buckley.robert.parkinsonszero.ViewData"
            android:label="myParkinson&apos;s"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.buckley.robert.parkinsonszero.SplashActivity"
            android:label="myParkinson&apos;s"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.buckley.robert.parkinsonszero.Survey"
            android:label="@string/title_activity_survey"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
